<form class="navbar-form navbar-left" role="search">
    <div class="form-group">
        <input class="form-control" ng-model="search" placeholder="Search" type="text">
    </div>
    <button  class="btn btn-default">Submit</button>
 
</form>

<div class="well well-design container">
    <h2 class="heading">Current Branches</h2>
    <div class="row">
    
    <ul ng-repeat="branch in ALLbranches | filter: search">
        <li>
            <a class="col-md-4" href="#!/viewBranch/{{branch._id}}" ng-click="getBranchDetails(branch._id)">{{branch.name}}</a>    
            <a href="#!/editBranch/{{branch._id}}"><i class="glyphicon glyphicon-edit"></i></a>
        </li>
    </ul>
    </div>
</div>